body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

  h1 {
    color: #333;
  }

  form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  input[type="url"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background: #218838;
  }

  .images {
  margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .images img {
    max-width: 150px;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  #imageContainer {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .Container {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin-bottom: 20px;
  }
  #loader {
    border: 16px solid #79c2cc; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .hidden {
    display: none;
  }